<nav class="navbar navbar-expand-md bg-light">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav pr-2">
                <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>

                {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                <a class="nav-item nav-link" href="{% url 'profile' user.username %}">
                <img class="rounded-circle account-img" 
                    src="{{ user.profile.image.url }}" 
                    width="30" height="30">
                </a>

                {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>