{% extends 'main.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/userExplore.css' %}">
</head>

<body>

  <section class="boxes">
      <div class="box">
          <h2>Group Name</h2>
          <p>Group Desciption. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus libero a neque optio perferendis dolores placeat velit, modi dolore expedita.</p>
      </div>
      <div class="box">
        <h2>Group Name</h2>
        <p>Group Desciption. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus libero a neque optio perferendis dolores placeat velit, modi dolore expedita.</p>
    </div>
    <div class="box">
        <h2>Group Name</h2>
        <p>Group Desciption. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus libero a neque optio perferendis dolores placeat velit, modi dolore expedita.</p>
    </div>
    <div class="box">
        <h2>Group Name</h2>
        <p>Group Desciption. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus libero a neque optio perferendis dolores placeat velit, modi dolore expedita.</p>
    </div>
    <div class="box">
        <h2>Group Name</h2>
        <p>Group Desciption. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus libero a neque optio perferendis dolores placeat velit, modi dolore expedita.</p>
    </div>
  </section>

</body>

</html>

{% endblock %}