{% extends 'main.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>

<body>

    <h2>Feed</h2>
    <section class="boxes">
      <div class="box">
          <img src="">
          <h2>Post Name</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ad? Dicta nisi ullam sapiente distinctio architecto assumenda alias repellat dolorem tempora molestiae ipsum, ea animi rerum vero necessitatibus nihil minima!</p>
      </div>
      <div class="box">
          <img src="">
          <h2>Post Name</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ad? Dicta nisi ullam sapiente distinctio architecto assumenda alias repellat dolorem tempora molestiae ipsum, ea animi rerum vero necessitatibus nihil minima!</p>
      </div>
      <div class="box">
          <img src="">
          <h2>Post Name</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ad? Dicta nisi ullam sapiente distinctio architecto assumenda alias repellat dolorem tempora molestiae ipsum, ea animi rerum vero necessitatibus nihil minima!</p>
      </div>
    </section>

</body>

</html>

{% endblock %}