{% extends "main.html" %}
{% block content %}

{% comment %} 
We expect:

profile     : Profile   :: the profile we are looking at
isUser      : bool      :: true if this is the logged in user's own profile 
posts       : [ Post ]  :: list of posts made by this user
{% endcomment %}
<div class="container">

    <div class="card mb-4">
        {% if isUser %}
            <a href="{% url 'update_profile' %}" class="btn btn-primary"><i class="fas fa-user-edit"></i></a>
        {% else %}
            {% if user.is_authenticated %}
                {% if profile in user.profile.following.all %}
                    <a href="#" class="follow_button btn btn-primary" profileID={{ profile.id }}>Unfollow</a>
                {% else %}
                    <a href="#" class="follow_button btn btn-primary" profileID={{ profile.id }}>Follow</a>
                {% endif %}
            {% endif %}
        {% endif %}
        <div class="card-body">
            <h2 class="card-title">{{ profile.nickname }}</h2>
            <p class="card-text text-muted h6">{{ profile.user.username }} </p>

            <img class="rounded-circle account-img" 
                src="{{ profile.image.url }}"
                width="50" height="50">
        </div>
    </div>

    
    <div class="card mb-4">
        <div class="card-body">
            <h3 class="card-title">Following:</h3>
            {% for follow in profile.following.all %}
            <p class="card-text text-muted h6"> 
                <a class="nav-item nav-link" href="{% url 'profile' follow.user.username %}">
                <img class="rounded-circle account-img" 
                    src="{{ follow.image.url }}" 
                    width="30" height="30">
                    {{ follow.nickname }}
                </a>
            </p>
            {% endfor %}
         </div>
    </div>

    {% include 'post/list_posts.html' %}

</div>

<script>
    {% include 'account/follow_button.js' %}
</script>

{% endblock content %}